<!-- <div width="100%"> -->
    <!-- <div style="background-size: cover;"> -->
  <!-- <img src="../../assets/img/index-bg.jpg">               -->
<!-- </div> -->


<!-- <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'> -->
<!-- <div class="wrapper"> -->
  <!-- <div class="bgimg"> -->

  <!-- <div class="message">
    <h1>ระบบจัดการข้อมูล แอปพลิเคชั่น MedSciApp</h1>    
    <button routerLink="/login" type="button" class="btn btn-outline-primary">เข้าสู่ระบบ</button>
  </div> -->

<!-- </div> -->
<!-- </div> -->

<!-- <div class="backgroundimg"> -->
<div class="gradient">
    <!-- <div class="container align-items-center text-center"> -->
        <!-- <h1 class="text-center">ระบบจัดการข้อมูล แอปพลิเคชั่น MedSciApp</h1> -->
    <!-- <div class="container" style="padding-top: 100px;">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div> -->

      <!-- <div class="container h-100 d-flex justify-content-center">
          <div class="jumbotron my-auto">
            <h5 class="display-6">ระบบจัดการข้อมูล</h5>
          </div>
       </div> -->

       <div class="container-fluid h-100">
          <div class="row justify-content-center align-items-center h-100">
              <!-- <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                  <form action="">
                      <div class="form-group">
                          <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="User email" type="text">
                      </div>
                      <div class="form-group">
                          <input class="form-control form-control-lg" placeholder="Password" type="password">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-info btn-lg btn-block">Sign In</button>
                      </div>
                  </form>
              </div> -->
              <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                      <div class="d-flex justify-content-center">
                        <img src="../../assets/img/Medsci-logo.png" width="100" height="100" class="mr-3">               
                        <img src="../../assets/img/NULOGO-Drawing.png" width="90" height="90">  
                      </div>
                <h5 class="text-white text-center mb-4">ระบบจัดการข้อมูลสำหรับ MedSciNU App</h5>
                <button routerLink="/login" type="button" class="btn btn-primary text-dark" style="border: none; border-radius: 1.5rem; width: 100%; background-color: #fff;">เข้าสู่ระบบ</button>
              </div>
          </div>
      </div>
</div>