<div class="container mt-3 mb-4">
<h4 class="mb-3">เพิ่มรายชื่อนิสิต</h4>

<div class="card shadow">
    <div class="card-body">
  <form class="mt-3">
    <div class="form-group row align-items-center">
      <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">เอกสารรายชื่อ</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file">
      </div>
    </div>
  </form>

  <p class="mt-3">*หมายเหตุ กรุณาเลือกไฟล์ Excel ตามรูปแบบที่ได้มีการออกแบบไว้</p>

  <div class="" style="text-align: right;">
    <button routerLink="/student-list" type="button" class="btn btn-outline-success">บันทึก</button>
  </div>

  <!-- <input type="file" (change)="fileChange($event)" name="file" /> 

<h4 *ngIf="showMessage">{{message}}</h4> -->
  
  </div>
</div>
</div>

