
<!-- <div class="container mt-3 mb-4">
<div class="card shadow mb-3">
    <div class="card-body p-5">
                <img src="../../assets/img/logo.jpg" class="mx-auto d-block rounded-circle mr-2" width="80" height="80">              

              <div class="font-weight-bold text-center mt-2">เข้าสู่ระบบ</div>

        <form class="mt-5">
          <div class="form-group row">
            <div class="col-12">
              <input type="text" class="form-control" style="border-radius: 1.5rem;" placeholder="User">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
                <input type="text" class="form-control" style="border-radius: 1.5rem;" placeholder="Password">
            </div>
          </div>

          <div class="form-group row mt-5">
              <div class="col-12">
              <button routerLink="/student-list" type="button" class="btn btn-primary" style="border: none; border-radius: 1.5rem; width: 100%; background-color: #ff7a5f;">เข้าสู่ระบบ</button>
          </div>
        </div>

        </form>

    </div>
  </div>
</div> -->

<div class="gradient">
  <div class="container-fluid h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
              <form>
                  <div class="form-group">
                      <h5 class="text-center text-white">Admin Login</h5>
                    </div>
                  <div class="form-group">
                    <input type="text" class="form-control" style="border-radius: 1.5rem;" placeholder="User">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" style="border-radius: 1.5rem;" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <button routerLink="/student-list" type="button" class="btn btn-primary text-white" style="border: none; border-radius: 1.5rem; width: 100%; background-color: #f6b758;">เข้าสู่ระบบ</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>