<div class="container mt-3 mb-4">
  <div class="row mb-3">
      <div class="col-md-4">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
              <h4 class="mr-2">รายชื่ออาจารย์ที่ปรึกษา</h4>             
          </div>
          <div class="col-auto">
            <a routerLink="/advisor-add" class="btn btn-success btn-circle">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 ml-auto">
        <div class="row align-items-center justify-content-end">
            <div class="col-auto pl-0">
              <input type="text" class="form-control border border-primary" placeholder="รหัสอาจารย์/ชื่อ">
            </div>
            <div class="col-auto pl-0 text-light">
              <a class="btn btn-primary btn-circle">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
      </div>
    </div>

  <!-- CARD 1 -->    
  <div class="card shadow mb-3">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
              <img src="../../assets/img/advisor.jpg" width="60" height="60" class="rounded-circle mr-2">              
          </div>
          <div class="col">
            <div class="font-weight-bold mb-1" style="line-height: 1;">Med0835</div>
            <div class="font-weight-bold mb-1" style="line-height: 1;">ดร.สราวุธ สัตยากวี</div>
            <!-- <div class="font-weight-bold mb-1">61520835 นางสาวธัญญารัตน์ ไชยชนะ</div> -->
          </div>
          <div class="col" style="text-align: right;">
            <a routerLink="/advisor-edit" class="btn btn-warning btn-circle">
              <i class="far fa-edit"></i>
            </a>
            <a href="#" class="btn btn-danger btn-circle ml-2">
              <i class="fas fa-trash"></i>
            </a>
          </div>
          
        </div>

      <div class="container mt-4">
        <div class="row">
          <label class="col-sm-3">รหัสอาจารย์</label>
          <label class="col-sm-9">Med0835</label>
        </div>
        <div class="row">
          <label class="col-sm-3">ชื่อ-นามสกุล</label>
          <label class="col-sm-9">ดร.สราวุธ สัตยากวี</label>
        </div>
        <div class="row">
          <label class="col-sm-3">คณะ</label>
          <label class="col-sm-9">วิทยาศาสตร์การแพทย์</label>
        </div>
        <div class="row">
          <label class="col-sm-3">สาขา</label>
          <label class="col-sm-9">จุลชีววิทยา</label>
        </div>
        <div class="row">
          <label class="col-sm-3">รายชื่อนิสิตในการดูแล</label>
          <div class="col-sm-9">
            <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
            <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
            <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
            <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- CARD 1 END -->

  <!-- CARD 1 -->    
  <div class="card shadow mb-3">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <img src="../../assets/img/patrick2.jpg" width="60" height="60" class="rounded-circle mr-2">              
            </div>
            <div class="col">
              <div class="font-weight-bold mb-1" style="line-height: 1;">Med0835</div>
              <div class="font-weight-bold mb-1" style="line-height: 1;">ดร.สราวุธ สัตยากวี</div>
              <!-- <div class="font-weight-bold mb-1">61520835 นางสาวธัญญารัตน์ ไชยชนะ</div> -->
            </div>
            <div class="col" style="text-align: right;">
              <a routerLink="/advisor-edit" class="btn btn-warning btn-circle">
                <i class="far fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-circle ml-2">
                <i class="fas fa-trash"></i>
              </a>
            </div>
            
          </div>
  
        <div class="container mt-4">
          <div class="row">
            <label class="col-sm-3">รหัสอาจารย์</label>
            <label class="col-sm-9">Med0835</label>
          </div>
          <div class="row">
            <label class="col-sm-3">ชื่อ-นามสกุล</label>
            <label class="col-sm-9">ดร.สราวุธ สัตยากวี</label>
          </div>
          <div class="row">
            <label class="col-sm-3">คณะ</label>
            <label class="col-sm-9">วิทยาศาสตร์การแพทย์</label>
          </div>
          <div class="row">
            <label class="col-sm-3">สาขา</label>
            <label class="col-sm-9">จุลชีววิทยา</label>
          </div>
          <div class="row">
            <label class="col-sm-3">รายชื่อนิสิตในการดูแล</label>
            <div class="col-sm-9">
              <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
              <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
              <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
              <p>61520835 นางสาวธัญญารัตน์ ไชยชนะ</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  <!-- CARD 1 END -->
</div>