<div class="container mt-3 mb-4">
<div class="mb-3">
    <h4>ประกาศข่าวสาร</h4> 
</div>

<div class="card shadow mb-3">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <img src="../../assets/img/logo.jpg" width="60" height="60" class="rounded-circle mr-2">              
            </div>
            <div class="col">
              <div class="font-weight-bold mb-1">MedSciApp Admin</div>
            </div>
          </div>

        <form class="mt-3">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">สาขา</label>
            <div class="col-sm-10">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ dropdownSelect }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="dropAll()">ทุกสาขา</a>
                  <a class="dropdown-item" (click)="dropMicro()">จุลชีววิทยา</a>
                  <a class="dropdown-item" (click)="dropMedsci()">วิทยาศาสตร์การแพทย์</a>
                  <a class="dropdown-item" (click)="dropAnatomi()">พยาธิวิทยากายวิภาค</a>
                  <a class="dropdown-item" (click)="dropBiochem()">ชีวเคมีและชีววิทยาโมเลกุล</a>
                </div>
              </div>
              <!-- <p class="text-drak">{{ dropdownSelect }}</p> -->
            </div>
            </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">หัวข้อ</label>
            <div class="col-sm-10">
              <input type="text" #topic class="form-control" placeholder="ใส่หัวข้อประกาศ">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">รายละเอียด</label>
            <div class="col-sm-10">
              <textarea type="text" #description class="form-control" rows="4" placeholder="อธิบายรายละเอียด"></textarea>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">เอกสาร (ถ้ามี)</label>
            <div class="col-sm-10">
              <!-- <input type="file" class="form-control-file"> -->
              <!-- <input class="file-input" type="file" (change)="startUpload($event.target.files)"> -->
              <input class="file-input" type="file" (change)="uploadFile($event.target.files)">
              <div class="mt-3" *ngIf="percentage | async as pct">
                <progress class="progress is-info" [value]="pct" max="100"></progress>
                {{ pct | number }}%
              </div>
              <!-- <p class="text-danger">กรุณาเลือกไฟล .pdf</p> -->
              <p class="text-danger">{{ printerr }}</p>
              <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="noData()">
              <label class="form-check-label" for="exampleCheck1">ไม่มีเอกสาร</label>
              <!-- <div *ngIf="downloadURL | async as url">
                <h3>Results!</h3>
                <img [src]="url"><br>
                <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
              </div>  -->
            </div>
          </div>
          
        </form>


        <div class="" style="text-align: right;">
          <!-- CLICK FOR SET DATA (dataAdd) -->
          <!-- <button [disabled]="!isUploaded" type="button" (click)="dataAdd(topic.value, description.value)" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">บันทึก</button> -->
          <button [disabled]="!isUploaded" type="button" (click)="dataAdd(topic.value, description.value)" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">บันทึก</button>

        </div>
    </div>
  </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">แจ้งเตือน</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              คุณต้องบันทึกข้อมูล
            </div>
            <div class="modal-footer">
              <!-- MAKE SURE FOR SAVE (announceAdd) -->
              <button type="button" routerLink="/announce-list" (click)="announceAdd()" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
              <!-- DONT SAVE CLOSE MODEL (announceAdd) -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">ปิด</button>
            </div>
          </div>
        </div>
      </div>


</div>